html {
  scroll-behavior: smooth;
}

:root {
  
  --colorPrimary: #3898ec;

  /* BACKGROUND */
  --backgroundPrimary: #16161a;
  --backgroundSecondary: #232629;
  --backgroundCard: #16161a;

  /* FONT  */
  --titleColor: #fffffe;
  --primaryTextColor: #94a1b2;

  /* BUTTON */
  --btnHover: #535bf2 /* pendiente el color del hover */
  --btnColorText: #fffffe;

    /* Link */
    --visitedLinkColor: #3898ec; /* pendiente color del link visitado */
}

body {
  font-family: sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: var(--primaryTextColor);
  background-color: var(--backgroundPrimary);
}

a {
  font-weight: 500;
  color: var(--colorPrimary);
  text-decoration: inherit;
}
a:hover {
  color: var(--btnHover);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: var(--titleColor);
}


.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  margin-left: 5rem;
  margin-right: 5rem;
  min-width: 320px;
  min-height: 100vh;
}
